<header class="header">
  <div class="header-container">
    <h1 class="logo"><a routerLink="/">Blog App</a></h1>

    <!-- Benutzername und Login-/Logout-Button rechts -->
    <div class="auth-actions">
      <ng-container
        *ngIf="authService.isAuthenticated | async; else notAuthenticated"
      >
        <button
          class="add-blog-button"
          routerLink="/add-blog"
          routerLinkActive="router-link-active"
        >
          Add Blog
        </button>
        <p class="user-name">{{ authService.userName$ | async }}</p>
        <button (click)="logout()">Logout</button>
      </ng-container>

      <ng-template #notAuthenticated>
        <button (click)="login()">Login</button>
      </ng-template>
    </div>
  </div>
</header>
